<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.StudentMapper">
  <resultMap id="BaseResultMap" type="model.Student">
    <id column="studentId" jdbcType="INTEGER" property="studentid" />
    <result column="studentName" jdbcType="VARCHAR" property="studentname" />
    <result column="studentAge" jdbcType="INTEGER" property="studentage" />
    <result column="studentPhone" jdbcType="VARCHAR" property="studentphone" />
  </resultMap>
  <sql id="Base_Column_List">
    studentId, studentName, studentAge, studentPhone
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from student
    where studentId = #{studentid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from student
    where studentId = #{studentid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="model.Student">
    insert into student (studentId, studentName, studentAge, 
      studentPhone)
    values (#{studentid,jdbcType=INTEGER}, #{studentname,jdbcType=VARCHAR}, #{studentage,jdbcType=INTEGER}, 
      #{studentphone,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="model.Student">
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="studentid != null">
        studentId,
      </if>
      <if test="studentname != null">
        studentName,
      </if>
      <if test="studentage != null">
        studentAge,
      </if>
      <if test="studentphone != null">
        studentPhone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="studentid != null">
        #{studentid,jdbcType=INTEGER},
      </if>
      <if test="studentname != null">
        #{studentname,jdbcType=VARCHAR},
      </if>
      <if test="studentage != null">
        #{studentage,jdbcType=INTEGER},
      </if>
      <if test="studentphone != null">
        #{studentphone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="model.Student">
    update student
    <set>
      <if test="studentname != null">
        studentName = #{studentname,jdbcType=VARCHAR},
      </if>
      <if test="studentage != null">
        studentAge = #{studentage,jdbcType=INTEGER},
      </if>
      <if test="studentphone != null">
        studentPhone = #{studentphone,jdbcType=VARCHAR},
      </if>
    </set>
    where studentId = #{studentid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.Student">
    update student
    set studentName = #{studentname,jdbcType=VARCHAR},
      studentAge = #{studentage,jdbcType=INTEGER},
      studentPhone = #{studentphone,jdbcType=VARCHAR}
    where studentId = #{studentid,jdbcType=INTEGER}
  </update>
</mapper>